*.bin !text !filter !merge !diff
*.dat !text !filter !merge !diff
*.vcf.gz !text !filter !merge !diff
*.bcf !text !filter !merge !diff
test/wgs/target.haploid.bcf !text !filter !merge !diff
test/wgs/target.haploid.bcf.csi !text !filter !merge !diff
test/wgs/target.unrelated.bcf !text !filter !merge !diff
test/wgs/target.unrelated.bcf.csi !text !filter !merge !diff
